<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
	<div ng-app="monapp" ng-controller="monController"> 
		<h1>{{deviner.titre}}</h1>
		<table border="0">
			<tr><td>Saisie : </td><td><input ng-model='deviner.saisie'/></td></tr>
			<tr><td align='center' colspan='2'><input type='button' value="valider" ng-click='deviner.valider()'/></td></tr>
			<tr><td align='center' colspan='2' style='font-size : 22px'>{{deviner.message}}</td></tr>
		</table>
	</div>

<script>
	class Deviner
	{
		constructor ()
		{
			this.saisie = 0
			this.titre = 'Jeu de devinette'
			this.message = '<< Bienvenue >>'
			this.nbcoup = 0;
			this.secret = Math.round((Math.random() * 100))	
			console.log(this.secret)
		}
		reset()
		{
			this.nbcoup = 0;
			this.secret = Math.round((Math.random() * 100))	
		}
		valider()
		{
			this.nbcoup++
			if (this.nbcoup > 10) 
			{
				this.message = "Fin de partie : dommage ! secret = " + this.secret
				return;
			}
			if(this.saisie > this.secret)
			{
				this.message = "Trop grand"
			}
			else if(this.saisie < this.secret) 
			{
				this.message = "Trop petit"
			}
			else 
			{
				this.message = "Bravo gagné en " + this.nbcoup + " coups"
				this.reset()
			}
		}
	}
	
	var monapp = angular.module ("monapp", []);
	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.deviner = new Deviner ();
 
	});
</script>
</body>
</html>