<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
	<div ng-app="monapp" ng-controller="monController"> 
		<h1>{{loto.titre}}</h1>
		<table border="1">	
			<tr ng-repeat="ligne in loto.grille">
				<td ng-repeat="unecase in ligne">{{unecase}}</td>
			</tr>
		</table>
	</div>

<script>
	class Loto
	{
		constructor ()
		{
			this.titre = 'Jeu du Loto'
			this.grille = []
			for (let l=0; l<10; l++)
			{
				let ligne =  []
				for (var c=0; c<5; c++)
				{
					ligne.push(l + c * 10)
				}
				this.grille.push(ligne)
			}
			console.log(this.grille)
		}
	}
	
	var monapp = angular.module ("monapp", []);
	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.loto = new Loto ();
 
	});
</script>
</body>
</html>