<html>
<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>

	<div ng-app="monapp" ng-controller="monController">
		<h1>PingPong</h1>
	<table border="0">
		<tr><td><input id='eg'/></td><td><input id='ed'/></td></tr>
		<tr><td align='center' colspan='2'><input type='button' value="&gt;&gt;&gt;&gt;&gt;" ng-click='pingpong.deplacerGD()'/></td></tr>
		<tr><td align='center' colspan='2'><input type='button' value="&lt;&lt;&lt;&lt;&lt;" ng-click='pingpong.deplacerDG()'/></td></tr>
	</table>
	</div>

	<script>

	var monapp = angular.module("monapp",[]);
	monapp.controller("monController", function($scope) {

		$scope.pingpong= {
			init : function()
		{
				this.eg = document.getElementById ("eg")
				this.ed = document.getElementById ("ed")
		},
				deplacerGD : function ()
				{
					
					this.ed.value = this.eg.value
					eg.value = ""
				},
				deplacerDG : function ()
				{
				
					this.eg.value = this.ed.value
					this.ed.value = ""
				}
			}
			
			$scope.pingpong.init();

	});
		
	</script>
</body>
</html>