<html>
<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>

	<div ng-app="monapp" ng-controller="monController">
		<h1 style='background-color:{{couleur}}'>{{compteur}}</h1>
	<table border="0">
		<tr><td><input id='eg'/></td><td><input id='ed'/></td></tr>
		<tr><td align='center' colspan='2'><input type='button' value="&gt;&gt;&gt;&gt;&gt;" onclick='pp.deplacerGD()'/></td></tr>
		<tr><td align='center' colspan='2'><input type='button' value="&lt;&lt;&lt;&lt;&lt;" onclick='pp.deplacerDG()'/></td></tr>
	</table>
	</div>

	<script>

	var monapp = angular.module("monapp",[]);
	monapp.controller("monController", function($scope) {

		$scope.compteur = 0;
		$scope.couleur='yellow';
		

		setInterval (function() {
			$scope.compteur++;
			if($scope.compteur % 2 ==0) {
				$scope.couleur = 'yellow'
			}
			else {
				$scope.couleur = 'blue'
			}
			//console.log($scope.compteur)
			$scope.$apply()
			},500);

	});
		
	</script>
</body>
</html>