<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
        <div ng-app="monapp" ng-controller="monController">
                <h1>{{barre.titre}}</h1>
                <table border="1" width='200'> 
                
                        <tr>
                            <td><input type="button" value="Rouge" ng-click="barre.changeCouleur('red')"></td>
                            <td ng-repeat="unecase in barre.cases" ng-style='{backgroud:barre.couleur}'>{{unecase}}</td>
                            <td><input type="button" value="Jaune" ng-click="barre.changeCouleur('yellow')"></td> 
                        </tr>   
                            
                </table>   
                        
                        
                
                
            </div>

<script>
	class Barre
	{
		constructor ()
		{
            this.titre='jeu '
			this.cases=[]
            this.couleur='white'
            for (let l=0; l<20; l++)
			{
			
				this.cases.push(l)
			}
        }  
        changeCouleur(couleur){
           this.couleur=couleur
          
        }  

          
	}
	
	var monapp = angular.module ("monapp", []);
	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.barre = new Barre ();
 
	});
</script>
</body>
</html>