<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
        <div ng-app="monapp" ng-controller="monController">
                <h1>{{nombre.titre}}</h1>
                <table border="1" width='200'> 
                
                        <tr>
                            <td><input type="button" value="Impairs" ng-click="nombre.cachePair()"/></td>
                            <td ng-repeat="unecase in nombre.cases track by $index" >{{unecase}}</td>
                            <td><input type="button" value="Pairs" ng-click="nombre.cacheImpair()"/></td> 
                        </tr>   
                            
                </table>   
            </div>

<script>
	class Nombre
	{
		constructor ()
		{
            this.titre='jeu'
			this.cases=[]
            
            for (let l=0; l<20; l++)
			{
			let x=Math.floor((Math.random()*100)+1)
                this.cases.push(x)
			}
        }  
	}	
	var monapp = angular.module ("monapp", []);	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.nombre = new Nombre ();
 
	});
</script>
</body>
</html>


                        
                        
                
                