<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <style>
        td{
          
        }
        
    </style>
</head>
<body>
	
        <div ng-app="monapp" ng-controller="monController">
                <h1>{{barre.titre}}</h1>
                <table border="1" width='200'> 
                
                        <tr>
                            <td><input type="button" value="Impairs" ng-click="barre.impairs()"/></td>
                            <td ng-repeat="unecase in barre.cases track by $index"  ng-style='{visibility: barre.visible(unecase)}' >{{unecase}}</td>
                            
                            <td><input type="button" value="Pairs" ng-click="barre.pairs()"/></td> 
                        </tr>   
                            
                </table>   
            </div>

<script>
	class BarreParite
	{
		constructor ()
		{
            this.titre='Pairs/Impairs'
			this.cases=[]
            this.parite=""
            
            for (let l=0; l<20; l++)
			{
			let x=Math.round((Math.random()*100)+1)
                this.cases.push(x)
			}
        }

        pairs()  {
           // console.log("pairs")
           this.parite="pairs"
        }

        impairs(){
            //console.log("impairs")
            this.parite="pairs"
        }


        visible (unecase)
        {
            if (this.parite === "") return "visible"
            if (this.parite === 'pairs')
            {
                if (unecase % 2 == 0) return 'visible'
                else return 'hidden'
            }
            else if (this.parite === 'impairs')
            {
                if (unecase % 2 != 0) return 'visible'
                else return 'hidden'
            }
           
        }

        /*visible(unecase){
            
            if (this.parite === "") return "visible"
            if (this.parite==='pairs'){
                if(unecase % 2==0) return 'visible'
                else return 'hidden'
            }
            else if (this.parite==='impairs') {
                if(unecase % 2!=0) return 'visible'
                else return 'hidden'
            }
        }*/


	}	
	var monapp = angular.module ("monapp", []);	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.barre = new BarreParite ();
 
	});
</script>
</body>
</html>


                        
                        
                
                