<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
        <div ng-app="monapp" ng-controller="monController">
                <h1>{{tableau.titre}}</h1>
                <table border="1" width='200'> 
                        
                        <tr ng-repeat="ligne in tableau.grille">
                        <td><input type="button" value="Rouge" ng-click="tableau.selection('red')"></td>
                        <td ng-repeat="unecase in ligne">{{unecase}}</td>
                        <td><input type="button" value="Jaune" ng-click="tableau.selection('yellow')"></td>
                    </tr>                   
                </table>   
                
                
            </div>

<script>
	class Tableau
	{
		constructor ()
		{
			this.grille=[]
            for (let l=0; l<1; l++)
			{
				let ligne =  []
				for (var c=0; c<20; c++)
				{
					ligne.push(l + c * 1)
				}
				this.grille.push(ligne)
			}
			//console.log(this.grille)

		}  
        selection(couleur){
            console.log("selection : " + couleur)
        }     
	}
	
	var monapp = angular.module ("monapp", []);
	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.tableau = new Tableau ();
 
	});
</script>
</body>
</html>