<html>
<head>
<style>
td {
	font-size : 44px;
	background : cyan;
}
</style>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
	<div ng-app="monapp" ng-controller="monController"> 
		<h1>{{grille.titre}}</h1>
		<table border="1" width='400'>	
			<tr ng-repeat="ligne in grille.cases">
				<td ng-repeat="unecase in ligne"  ng-style="{ 'background':grille.couleur(unecase)}" >{{unecase}}</td>
			</tr>
			<tr ><td colspan='5'><input id="" type='button' value='Haut->bas' ng-click='grille.start("HB")'/></td></tr>
			<tr ><td colspan='5'><input id="" type='button' value='Bas->haut' ng-click='grille.start("BH")'/></td></tr>
		</table>
	</div>

<script>
	var globalscope='';
	class Grille
	{
		constructor (scope)
		{
			this.scope = scope
			this.titre = 'Grille'
			this.cases = []
			this.timer ='';
			this.lignecase = 0;
			this.colonnecase = 0;
			globalscope = this
			for (let l=0; l<10; l++)
			{
				let ligne =  []
				for (var c=0; c<5; c++)
				{
					ligne.push(l + c * 10)
				}
				this.cases.push(ligne)
			}
		}
		
		start(v)
		{
			if(this.timer!='') clearInterval (this.timer)
			if (v === "HB")
			{
				this.timer=setInterval(
						function () { 
							//console.log(that)
							globalscope.defilerHB (); 						
						}
				, 90);
			}
			else if (v === "BH")
			{
				this.timer=setInterval(this.defilerBH, 200);
			}
		}
		
		defilerHB ()
		{
			this.colonnecase++;
			if(this.colonnecase>=5) { 
				this.colonnecase = 0
				this.lignecase++
				if(this.lignecase >=10 ) { 
					this.lignecase=0
				}
			}
			this.scope.$apply()
		}
		
		defilerBH ()
		{
		}

		couleur(unecase)
		{
			if( unecase === this.cases[this.lignecase][this.colonnecase]) return "yellow"
			else return "white"
		}
		
	}
	
	var monapp = angular.module ("monapp", []);
	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.grille = new Grille ($scope);
 
	});
	
</script>
</body>
</html>