<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	
        <div ng-app="monapp" ng-controller="monController">
                <h1>{{loto.titre}}</h1>
                <table border="1" width='200'> 
                    <tr ng-repeat="ligne in loto.grille">
                        <td ng-repeat="unecase in ligne" ng-click="loto.selectionner (unecase)"  ng-style="{'background' : loto.couleur(unecase)}" >{{unecase}}</td>
                    </tr>
                </table>   
                <table border="1" width='200'> 
                    <tr><td colspan='6'><input type='button' value='Haut->Bas' ng-click='loto.selectionner(unecase)'/></td></tr>
                    <tr>
                        <td ng-repeat="c in loto.couleur track by $index">{{c}}</td>
                    </tr>

                    <tr ><td colspan='6'><input type='button'  value='Bas->Haut' ng-click='loto.selectionner(unecase)'/></td></tr>
                </table>
        </div>

<script>
	class Loto
	{
		constructor ()
		{
			this.titre = 'Jeu clignotant'
			this.grille = []
            this.selectionnees=[]
            this.casesgagnantes=[]

			for (let l=0; l<10; l++)
			{
				let ligne =  []
				for (var c=0; c<5; c++)
				{
					ligne.push(l + c * 10)
				}
				this.grille.push(ligne)
			}
			console.log(this.grille)
		}

       

        selectionner (unecase)
        {
            if(this.selectionnees.indexOf(unecase) !=-1)
            {
                this.selectionnees.push(unecase)
            }
           
            console.log( this.selectionnees)
        }

        couleur(unecase){
            let c = 'white'
            if(this.selectionnees.indexOf(unecase) ==-1){
                c='yellow'
            }
            return c
        }

        
        
	}
	
	var monapp = angular.module ("monapp", []);
	
	monapp.controller ("monController", function ($scope) {		
	
			$scope.loto = new Loto ();
 
	});
</script>
</body>
</html>