<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
<title>Formulaire</title>
<style>
button {
width: 60px;
height: 60px;
font-size: 40px;
margin: 0 0 0 0;
padding: 0 0 0 0;
}
</style>
</h:head>
<h:body>
<h1>Cible</h1>
<h:form>
<table border="1">
<tr>
<ui:repeat var="unecase" value="#{cible.lescases}" varStatus="status">
<td><h:commandButton style='background: #{cible.gagnante(unecase)}' value='#{unecase}' type='submit' action='#{cible.selectionner(unecase)}'/> </td>
</ui:repeat>
</tr>
</table>
</h:form>

</h:body>
</html>