	<div>
	<h1>{{titre}}</h1>
	<table border="1" width='200'> 

			<tr>
				<td><input type="button" value="Impairs" (click)="impairs()"/></td>
				<td  *ngFor="let unecase of cases "  [ngStyle]='{visibility: visible(unecase)}' >{{unecase}}</td>			
				<td><input type="button" value="Pairs" (click)="pairs()"/></td> 
			</tr>   
				
	</table> 
	
	</div>


