		<h1>{{titre}}</h1>
		<table border="1" width='100'>	
			<tr *ngFor="let ligne of cases">
				<td *ngFor="let unecase of ligne"  [ngStyle]="{ 'width': '20px', 'height':'20px'}" >{{image(unecase)}}</td>
			</tr>
			<tr ><td colspan='5'><input id="" type='button' value='Go' (click)='start("HB")'/></td></tr>
			
		</table>