<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
<title>Gestion des Formations</title>
<style>
</style>
</h:head>
<h:body>
<h2>Gestion des Formation</h2>
<h:form>
<table width="50%">
<tr><td>Id: <h:inputText value="#{formations.id"/></td></tr>
<tr><td>Libelle: <h:inputText value="#{formations.libelle}"/></td></tr>
<tr><td><h:commandButton action="#{formations.valider()}" value="Valider !"/></td></tr>
</table>
</h:form>
</h:body>
</html>