#canvas {
    margin-top:5px;
    border:1px solid red;
   
    margin-left:auto;
    margin-right:auto;
    display: none;
}

#game {
    display:block;
}


audio {
    display:none;
}

#finished {
    display:none;
    font-size:24pt;
    color:red;
    background-color:yellow;
    width:1300px;
    text-align:center;
}

#progess {
    margin-top:5px;
    width:1300px;
    height:700px;
    margin-left:auto;
    margin-right:auto;
    background-image:url('../img/univers.jpg');
}

#loading {
    display:block;
    width:390px;
    margin-top:350px;
    margin-left:auto;
    margin-right:auto;
}

