/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 janv. 2019, 11:36:01
    Author     : gg
*/

.bg-dark{
    background:linear-gradient(silver, black ,silver) !important; 
}


.table tbody tr:hover {
    background-color: #333;
    color: white;
}

.delete {
    display: inline-block; 
    width: 16px;
    height: 16px;
    background-image: url(img/delete.png);
}

fieldset {
    max-width: 600px;
    margin: 20px auto;
}

input:required
{
    background: url(img/required.png) 98% center no-repeat;
}

input:valid
{
    background: url(img/valid.png) 98% center no-repeat;
}

input:focus:invalid
{
    background: url(img/invalid.png) 98% center no-repeat;
}