		<h1>{{titre}}</h1>
		<table border="1" width='400'>	
			<tr *ngFor="let ligne of cases">
				<td *ngFor="let unecase of ligne"  [ngStyle]="{ 'background':couleur(unecase)}" >{{unecase}}</td>
			</tr>
			<tr ><td colspan='5'><input id="" type='button' value='Haut->bas' (click)='start("HB")'/></td></tr>
			<tr ><td colspan='5'><input id="" type='button' value='Bas->haut' (click)='start("BH")'/></td></tr>
		</table>
