	<h1>{{titre}}</h1>
	<table border="1" width='200'> 
		<tr *ngFor="let ligne of grille">
			<td *ngFor="let unecase of ligne" (click)="selectionner (unecase)"  [ngStyle]="{ 'visibility' : visible(unecase), 'background' : couleur(unecase),'border-width':gagnante(unecase)}" >{{unecase}}</td>
		</tr>
	</table>   
	<table border="1" width='200'> 
		<tr ><td colspan='6'><input type='button' value='Tirage' (click)='letirage()'/></td></tr>
		<tr>
			<td *ngFor="let c of tirage">{{c}}</td>
		</tr>

		<tr ><td colspan='6'><input type='button' value='Gain' (click)='legain()'/></td></tr>
	</table>
