<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>Ping Pong</title>
</h:head>
<h:body>
<h1>Ping Pong</h1>
<h:form>
	<table>
		<tr><td>
		Gauche: <h:outputLabel value="#{pingpong.egauche}" /> <br/>
		</td><td>
		Droite: <h:outputLabel value="#{pingpong.edroite}" /> <br/>
		</td></tr>
		<tr><td colspan="2">
		<h:commandButton type='submit' value="&gt;&gt;&gt;&gt;" action="#{pingpong.deplaceGD()}" />
		</td><td colspan="2">
		<h:commandButton type='submit' value="&lt;&lt;&lt;&lt;" action="#{pingpong.deplaceDG()}" /><br/>
		</td></tr>
	</table>
</h:form>
</h:body>
</html>