<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
<title>Cible</title>
<style>
tr {
	width : 40px;
	height : 40px;
	font-size : 22px;
	margin : 0 0 0 0 ;
	padding: 0 0 0 0 ;
}
</style>
</h:head>
<h:body>
<h1>Cible</h1>
<h:form>
	<table border="0">
	<ui:repeat var="ligne" value="#{grille.lignes}" varStatus='status'>
	<tr>
		<ui:repeat var="unecase" value="#{ligne}" varStatus='status'>			
			<td><h:commandButton style="border:#{grille.gagnante(unecase)}; visibility:#{unecase == 0 ? 'hidden':''}; width: 100%; background : #{grille.couleur(unecase)}" action="#{grille.selection(unecase)}" value="#{unecase}"/></td>
		</ui:repeat> 
	</tr>
	</ui:repeat> 
	<tr><td><h:commandButton value='Tirage' action='#{grille.fairetirage()}'/></td></tr>
	<tr>
		<ui:repeat var="v" value="#{grille.tirage}" varStatus='status'>
			<td>#{v}</td>
		</ui:repeat> 				
	</tr>
	<tr><td><h:commandButton value='Gain' action='#{grille.gain()}'/></td></tr>
	</table>
</h:form>
</h:body>
</html>