	<table border="0">
		<tr><td><input id='eg'/></td><td><input id='ed'/></td></tr>
		<tr><td align='center' colspan='2'><input type='button' value="&gt;&gt;&gt;&gt;&gt;" (click)='deplacerGD()'/></td></tr>
		<tr><td align='center' colspan='2'><input type='button' value="&lt;&lt;&lt;&lt;&lt;" (click)='deplacerDG()'/></td></tr>
	</table>