*{
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(100,100,100);
}



h3 {
    color:rgb(81, 81, 85);
}

h4{
    color: rgb(25,152,248);
}


body{
    background-color: rgb(200, 200, 200);
}

article {
 background-color: rgb(217, 217, 236);
 border-radius: 10p ,20px,30px,40px;
 box-shadow: 4px 4px rgb(180,180,180);
 margin-bottom: 20px;
 padding: 15px 20px;
 

}
article h3{
    color:rgb(0,0,255);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

div.article p {
    margin-bottom: 10px;
}

    section.ele-base {
        padding: 20px;

    }

    section.ele-base h2 {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
    }

