div{
border: 5px solid green;
/* padding: 10px 20px 30px 40px; */
width: 300px;
}

div.blue{
background-color:blue;
margin-bottom: 10px;
padding: 10px 20px;

}

div.yellow {
    background-color: yellow;
    padding: 10px 20px;
    box-sizing: border-box;
}