html{
    font-size: 14px;
    color: yellow;
    border: 10px solid purple;
}

div {
    background-color: blue;
    border: 5px solid red;
    border: inherit;
    font-size: 2em; /*heritage et unite proportionnellls, en taille ^parent, rem taille deroot*/
}

html body div {
    background-color: pink;

}

html div{
    background-color: green; /*cascade*/
}

