*{
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(100,100,100);
}

section.Titre h1{
    color: blue;

}

section.Etat-civil h2{
    color: blue;

}

section.Experience h2{
    color: blue;

}

section.Competence h2{
    color: blue;

}

article {
    background-color: rgb(217, 217, 236);
    border-radius: 10p ,20px,30px,40px;
    box-shadow: 4px 4px rgb(180,180,180);
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 50%;
    
   
   }