*{
    box-sizing: border-box;
}


.parent{
background-color: greenyellow;
border: 2px solid purple;
display: flex;
/*flex-direction: row;*/

/*flex-direction: column;*/
/*flex-direction: column-reverse;*/
flex-wrap: wrap;
justify-content: space-between;
}

.child{
    /*background-color: blue;*/
    /*border: 2px solid yellow;*/
    width: cal(100%/3);
    height: 300px;
    margin-right: 5px;
    margin-bottom: 5px;

}

.menu{
    display: flex;
    /*border: 2px solid purple;*/
    background-color: white;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;

}

@media screen and (max-device-width:500px) {
    .menu{
        flex-direction: column;
    }
    
}

.menu__item{
   /* border: 2px solid blue;
    background-color: yellow;*/
    flex-grow: 1;
    padding: 15px 20px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: backround_color 0.5s; color: 0.5s;
}

.menu__item a{
    /* border: 2px solid blue;
     background-color: yellow;*/
     display: block;
     color: black;
     /*flex-grow: 1;*/
     padding: 15px 20px;
     font-size: 16px;
     text-align: center;
     text-transform: uppercase;
     text-decoration: none;
 }

.menu__item a:hover{
    background-color: lightskyblue;
    color: white;
}