.articlealaune{
    width: 600;
}

.articlealaune_title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.articlealaune_img{
    
}

.articlealaune_text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    letter-spacing: -0.045rem;
    
}