.articlealaune{
    width: 600;
}

.articlealaune__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.articlealaune__img{
    display: block;
    width: 65%;
    margin-bottom: 0.5rem;
    
}

.articlealaune__text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    letter-spacing: -0.045rem;
    
}


.petitarticlealaune{
    width: 600;
}

.petitarticlealaune__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.petitarticlealaune__img{
    display: block;
    width: 65%;
    margin-bottom: 0.5rem;
}

.petitarticlealaune__text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    letter-spacing: -0.045rem;
    
}