<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>contenu</title>
</h:head>
<h:body>
<h1>Contenu du fichier</h1>
<h:form>
Nom du fichier <h:inputText value="#{fichier.nom}" /> <br/>
	<h:commandButton type='submit' value="Ok" action="contenu" /><br/>
</h:form>
</h:body>
</html>