 <h1>{{titre}}</h1>
<table border="1" width='200'> 

		<tr>
			<td><input type="button" value="Rouge" (click)="changeCouleur('red')"></td>
			<td *ngFor="let unecase of cases" [ngStyle]='{background:couleur}'>{{unecase}}</td>
			<td><input type="button" value="Jaune" (click)="changeCouleur('yellow')"></td> 
		</tr>   
			
</table>
